//- Creaci칩n de la vista de la p치gina inicial de la aplicaci칩n.
  
extends layout

block content
  h1= title
  p Bienvenidos a la aplicaci칩n del #{title}
  p Ingrese a los siguientes links para probarlo: 
    <a href= "http://localhost:3000/users">Users</a> y 
    <a href= "http://localhost:3000/users/cool">Users cool</a> 