extends layout

block content
  h1= title
  p Bienvenidos a la aplicación del #{title}
  p Ingrese a los siguientes links para probarlo: <a href= "http://localhost:3000/users">Users</a> y <a href= "http://localhost:3000/users/cool">Users cool</a> 