//- Creación del diseño base para las vistas de la aplicación.

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  
  Footer
  p='Elaborado por: Yeisson Augusto Vahos Cortes.'
