//- Creación de la vista de la ruta users de la aplicación.

extends layout

block content
  h1= title
  h2= message
  p <a href= "http://localhost:3000/users/cool">Ingresa aquí</a>
  p <a href= "http://localhost:3000">Regresar</a>